<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(91, 207, 245);
        }

        input{
            border: 3px solid black;
        }
    </style>
</head>
<body>
    <h1>Contact Shivam</h1>
    <div>
        <form action="/" method="post">
            <input name="name" type="text" placeholder="Enter Your Name">
            <input name="email" type="text" placeholder="Enter Your Email">
            <input type="submit" value="Submit" >
        </form>
    </div>
</body>
</html>