<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'anotherstyle.css')}}">
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eveniet consectetur hic, aut, sit repellendus eum mollitia cupiditate quisquam tenetur ipsum provident odit quae temporibus sapiente quam optio repellat exercitationem sint? Nostrum quia, recusandae saepe fuga dolores, quam mollitia ea hic, neque vel ab ratione.
</body>
</html>