<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class x- Delhi Public School</title>
</head>
<body>
    <ul>
        <li>The marks of john is {{marks['john']}} </li>
        <li>The marks of Pratik is {{marks['pratik']}}</li>
        <li>The marks of Rounak is {{marks['rounak']}}</li>
        <li>The marks of Gopal is {{marks['gopal']}}</li>
        <li>The marks of Ritik is {{marks['ritik']}}</li>
    </ul>

</body>
</html>